@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.CurrentPicture != null)
            {
                <img src="~/img/@Model.CurrentPicture" />
            }
            else
            {
                <img src="~/img/user_profile_picture.png" height="180" width="180"/>
            }
        <div class="form-group">
            <label>Bildfil</label>
            <input type="file" name="UploadedFile" />
        </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}