@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Tillgång nekad";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har inte tillgång till den här resursen.</p>
</header>
