@page
@model Snackis_Forum_.Pages.SiteAdmin.DeleteSubjectModel

@{
    ViewData["Title"] = "Radera";
}

<h1>Radera</h1>

<h3>Är du säker på att du vill ta bort den här kategorin?</h3>
<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Subject.Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-page="../Index">Tillbaka</a>
    </form>
</div>
