@page
@model Snackis_Forum_.Pages.SiteAdmin.DetailsMainTitleModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Huvudtitel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteTitle.MainTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteTitle.MainTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SiteTitle.Id">Redigera</a> |
    <a asp-page="../Index">Tillbaka</a>
</div>
