@page
@model Snackis_Forum_.Pages.MessageModel
@using Microsoft.AspNetCore.Identity
@using Snackis_Forum_.Areas.Identity.Data

@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager
@{
}


<h1>Meddlande</h1>


@if (Model.Message != null)
{

    <div class="text-center">

        <h2>@Model.Message.MessageTitle</h2><br />
        <h4>@UserManager.FindByIdAsync(Model.Message.SenderId).Result.NickName</h4><br />
        <p>@Model.Message.Message.</p><br />
    </div>
    <a class="btn btn-success" asp-route-MessageID="@Model.MessageID" asp-page="/NewMessage">Svara</a>
    <a class="btn btn-danger" asp-page="/PrivateMessages">Tillbaka</a>
}