@page
@model Snackis_Forum_.Pages.MessageModel
@using Microsoft.AspNetCore.Identity
@using Snackis_Forum_.Areas.Identity.Data

@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager
@{
    ViewData["Title"] = "Meddelande";
}


@if (Model.Message != null)
{
    <div class="mt-3">
        <div>
            <h4>Från @UserManager.FindByIdAsync(Model.Message.SenderId).Result.NickName</h4><br />
            <h2>@Model.Message.MessageTitle</h2><br />
        </div>
        <p>@Html.Raw(Model.Message.Message)</p><br />
    </div>
    <div class="row m-auto">
        <a class="btn btn-sm btn-primary mr-2" asp-route-MessageID="@Model.MessageID" asp-page="/NewMessage">Svara</a> 
        <a class="btn btn-sm btn-dark" asp-page="/PrivateMessages">Tillbaka</a>
    </div>
}