@page
@model Snackis_Forum_.Pages.NewThreadModel
@{
    ViewData["Title"] = "Ny tråd";
}

<div class="mt-5 mb-2">

    <h1>Starta ny tråd</h1>

    <form method="post">
        <label>Rubrik</label> <br />
        <input type="text" name="Title" /><br />
        <label>Inlägg</label> <br />
        <textarea class="resizable" name="PostText" rows="4" cols="50"></textarea> <br />

        <input type="submit" class="btn btn-sm btn-primary" value="Posta" />
        <a class="btn btn-sm btn-dark ml-2" asp-route-SubjectId="@Model.SubjectID" asp-page="/ThreadIndex">Tillbaka</a>
    </form>


    @if (Model.IsFilled == false)
    {
        <p class="alert-danger">Båda fälten måste fyllas i innan du kan lägga upp en ny tråd!</p>
    }


</div>