@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1><strong>Integritetspolicy</strong></h1>
    <p>
        Vi värnar om våra användares integritet och våra användares förtroende för oss. Detta förtroende bygger bland annat på vårt sätt att hantera våra användares personuppgifter.
        Vi eftersträvar en öppenhet i vår behandling av personuppgifter samt att öka skyddet för den personliga integriteten.
        All behandling av personuppgifter som vi gör sker enligt tillämplig personuppgiftslagstiftning. Inom EU/EES gäller från 25 maj 2018 dataskyddsförordningen (GDPR).
    </p>

    <h2 style="word-wrap:break-word;">Personuppgiftsansvarig</h2>
    Personuppgiftsansvarige bestämmer vilket syftet och de metoder som används när personuppgifter samlas in och behandlas.
    Det är också personuppgiftsansvarige som ansvarar för att behandlingen sker enligt gällande lagstiftning.
    <br />
    <br /> Personuppgiftsansvarig:	xxxx

    <br />
    <br />

    <h2>Vilka personuppgifter samlar vi in?</h2>
    <p>
        I samband med registrering på hemsidan samlar vi endast in de uppgifter som är nödvändiga för att skapa ett konto (användarnamn och epost).
        Vi samlar aldrig in annan information om dej än vad du själv uppger i din kommunikation med oss.
    </p><br />

    <h2>Rättsliga grunden för vår behandling</h2>
    <p>
        Vi för ett personuppgiftsregister över vilka uppgifter vi samlar in, i vilka system vi gör det och vilken rättslig grund som insamlingen baserar sig på. I de fall vi använder samtycke som grund till insamlingen så har du rätt att återkalla ditt samtycke. Om du inte vill ta del av erbjudanden och/eller marknadsföring vänligen kontakta oss.
        En del personuppgifter sparar vi för att uppfylla lagkrav eller myndighetskrav, exempelvis bokföringslagen vilket medför att vi kan komma att spara dina personuppgifter under en längre tid. För att kunna hålla dina personuppgifter uppdaterade och korrekta kan vi komma att inhämta uppgifter från privata och offentliga register.
        Det kan också förekomma att dina personuppgifter behandlas baserat på flera olika rättsliga grunder.
    </p><br />

    <h2>Lagring av personuppgifter</h2>
    <p>
        Vi jobbar alltid efter principen att samla in så lite information som möjligt och att spara informationen så kort tid som möjligt.
        Det betyder att dina personuppgifter inte lagras längre än det är nödvändigt för att kunna uppfylla ändamålen med behandlingen.
        Vår policy är också att i så liten utsträckning som möjligt skicka personuppgifter per mail. Vi strävar efter att minimera de personer som blir kopierade (CC:)
        i all vår korrespondens för att minimera spridningen av persondatauppgifter per e-post.
        Våra anställda är utbildade på vår integritetspolicy. Det ingår också utbildning på vår integritetspolicy i den utbildning som varje nyanställda får.  Vi följer även kontinuerlig upp att policyn efterlevs.
    </p><br />

    <h2>Datalagring</h2>
    <p>
        Vi använder flera olika IT-tjänster och IT-system i vår verksamhet. Vissa av dessa system lagrar information i lokala system hos oss emedan andra uppgifter är lagrade hos någon av våra
        leverantörer. Därmed kan vissa personuppgifter lagras innanför och utanför Sverige och EU:s gränser.
        I dessa fall är vår leverantör vårt personuppgiftsbiträde som behandlar uppgifterna på vårt uppdrag och uteslutande enligt våra instruktioner.
    </p><br />

    <h2>Utlämning av personuppgifter</h2>
    <p>
        Vi lämnar aldrig ut personuppgifter till tredje man om det inte krävs för att distribuera tjänsten till våra användare.
        I de fall vi har någon leverantör som behandlar personuppgifter för vår räkning så har vi ett personuppgiftsbiträdesavtal som reglerar att personuppgifterna behandlas uteslutande enligt
        våra instruktioner.
    </p><br />

    <h2>Rättelse och information</h2>
    <p>
        Du har rätt att få information om vilka personuppgifter som sparas om dig. Om du vill ha sådan information ska en skriftlig begäran lämnas till personuppgiftsansvarige.  Beroende på vad kontakten avser kan vi komma att kräva att du på lämpligt sätt kan styrka din identitet.
    </p><br />

    <h2>Klagomål till tillsynsmyndighet</h2>
    <p>
        Du har alltid rätt att framföra klagomål om vår behandling av dina personuppgifter till en tillsynsmyndighet som i vårt fall är Datainspektionen.
        För kontaktuppgifter, se <a href="http://www.datainspektionen.se">datainspektionen</a>
    </p><br />

</div>
