@*Admin only pages to be shown in admin only nav bar, see _Layout in the same folder.*@

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-page="./Roles">Roller</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./Index">Titel och kategorier</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./ReportedPosts">Anmälda inlägg</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./BadWords">Censurerade ord</a></li>
</ul>
