@page
@model Snackis_Forum_.Pages.SiteAdmin.BadWordsModel
@{
}

    <h1>Fula ord</h1>
<div>
    <p>För att lägga till nytt fult ord som kommer censurera i forumet med "*" skriv in ordet nedan och tryck på spara.</p>


    <form method="post">
        <input type="text" name="badWord"/>
        <input type="submit" value="Spara"/>
    </form>


</div>

<div class="mt-4">
    <p>Här visas alla ord som finns i fula ord listan</p>
    <p>Tryck på det röda krysset till vänster om order för att ta bort det.</p>

    @if (Model.FulaOrdList != null)
    {
        @foreach (var item in Model.FulaOrdList.OrderBy(o => o.Word))
        {
            <p><a href="?deleteid=@item.Id" style="color: red">X</a> @item.Word</p>
        }
    }

    </div>